
html, body, h1, h2, h3, h4, h5, li, ul, ol, input{
	margin: 0;
	padding: 0;
}
html{
	font-family:Helvetica, Arial, sans-serif;
}
#background {
                background: url('images/space.jpg') no-repeat fixed;
                position: fixed;
                background-size: 100% 100%;
                top: -69px;
                left: 0;
                right: 0;
                bottom: -69px;
                z-index: -10;
            }
.fixed-content{
	position: fixed;
	width: 100%;
}
.header img{
	width: 50%;
}
.header{
	background: url('images/lineTexture.jpg') no-repeat center center fixed;
	background-size: 100% 100%;
	padding: 20px;
	color: #fff;
	border-bottom: 2px solid #fff;
}
.header button{
	float: right;
	border-radius: 20px;
	font-size: 25px;
	background-color: #fff;
	padding: 5px;
	box-shadow: 0 0 15px #000;
	text-shadow: 0 0 1px #000;
}
.header .fa-undo{
	color: #fff;
	text-shadow: 0 0 15px #000;
}
.side-drop{
	width: 150px;
	height: 2000px;
	background-color: #0a0600;
	border-right: 5px solid #fff;
}
.side-border{
	border-left: 300px solid #0a0600;
	border-top: 300px solid #0a0600;
	border-top-left-radius: 100%;
	height: 410px;
	width: 400px;
	position: absolute;
	left: -150px;
	top: -305px;
}
.side-border2{
	border-left: 300px solid #fff;
	border-top: 300px solid #fff;
	border-top-left-radius: 100%;
	height: 410px;
	width: 400px;
	position: absolute;
	left: -145px;
	top: -305px;
}
.side-options{
	margin-top: 0px;
	width:480px;
	height: 400px;
	position: relative;
	overflow: hidden;
}
.main-content{
	float: right;
	width: 800px;
	margin: 140px 200px 0 0;
}
.side-options ul{
	position: absolute;
	top: -2px;
}

ul li{
	color: #fff;
	display: inline-block;
	border: 1px solid #000;
	padding: 8px 15px 8px 8px;
	border-radius:0 0 30px 10px;
	box-shadow: 0 0 5px 0 #fff;
	background-color: #3E382C;
	font-weight: bold;
	text-shadow: 0 0 20px #000;
}
.side-options li:first-child{
	border-bottom-left-radius: 0;
}

.side-options li:hover{
	background-color: #fff;
	color: #000;
}
.hover-on{
	background-color: #fff;
	color: #000;
}

.nav-info{
	position: absolute;
	padding-top: 40px;
	margin-left: 10px;
	display: none;
}
.nav-details{
	position: absolute;
	padding-top: 40px;
	margin-left: 10px;
	color: #fff;
	display: none;
	font-size: 14px;
	line-height: 1.5;
}
.nav-about{
	position: absolute;
	padding-top: 40px;
	margin-left: 10px;
	color: #fff;
	display: none;
	font-size: 14px;
	line-height: 1.5;
}

.nav-info h3{
	color: #fff;
	font-size: 25px;
}
.nav-info h4, h5{
	color: #fff;
	margin: 15px 0 3px 0;
}
.nav-info button{
	margin: 10px 0 0 0;
	border-radius: 10px;
	background-color: #fff;
	text-shadow: 0 0 20px #000;
	padding: 5px;
	font-weight: bold;
}
select, input{
	display: block;
	width:130px;
	border-radius: 10px;
}
input[type=checkbox]{
	width:20px;
}
.main-content .destinations{
	border: 1px solid #fff;
	border-radius: 200px 50px 50px 50px;
	padding: 30px 20px 40px 50px;
	background-color: hsla(0, 100%, 0%, 0.7);
	z-index: -2;
	position: relative;
}
.main-content h1{
	color: #fff;
	text-align: center;
	margin-bottom: 50px;
	font-size: 28px;
	text-shadow: 0 0 10px #000;
}
.main-content h2{
	color: #d3c39b;
	font-size: 23px;
	text-shadow: 0 0 10px #000;

}
.main-content h3{
	color: #79859E;
	margin: 20px 0 0 0px;
	text-shadow: 0 0 10px #000;
}
.main-content h4{
	color: #fff;
	margin: 5px 0 0 20px;
	text-shadow: 0 0 10px #000;
}
.main-content h5{
	font-size: 10px;
	color: #fff;
}
.main-content h3 .fa-rocket{
	color: #fff;
}
.main-content img{
	position: relative;
	height: 20px;
	width: 20px;
	top: 17px;
	left: 6px;
}
.testimony{
	margin: 50px 0 0 0;
	border: 1px solid #fff;
	border-radius: 50px 50px 50px 50px;
	padding: 0px 20px 40px 20px;
	background-color: hsla(0, 100%, 0%, 0.7);
	z-index: -2;
	position: relative;
}
.testimony img{
	height: 150px;
	width: 150px;
	border-radius: 100%;
	border: 5px solid #fff;
	float: left;
	margin: 10px;
	display: inline-block;
}
.testimony h4{
}
.testimony h2{
	margin: 10px 0 0 25px;
}
.testimony h3{
	padding-top: 20px;
}
.a-testimony{
	border: 1px solid transparent;
}
.clear{
	clear: both;
}
.submit-page{
	background-color: hsla(0, 100%, 0%, 1);
	margin: 150px 300px 50px 0;
	position: static;
	width: 600px;
	border: 2px solid #fff;
	border-radius: 50px;
	display: none;
	float: right;
    }
.submit-page button{
	display: block;
	position: relative;
	border-radius: 20px;
	font-size: 20px;
	background-color: #fff;
	padding: 3px;
	box-shadow: 0 0 15px #fff;
	text-shadow: 0 0 20px #000;
	margin: 5px auto;
}
.submit-page h3{
	color: #fff;
	text-align: center;
	margin-top: 20px;
	font-size: 22px;
}
.submit-page h4{
	text-align: center;
	font-size: 20px;
	color: #79859E;
}
.prepping-flight{
	text-align: center;
	font-size: 20px;
	color: #fff;
	margin-bottom: 50px;
}
.submit-page .details-below{
	font-size: 16px;
	color: #d3c39b;
	margin-top: 30px;
	margin-bottom: -10px;
	text-align: left;
	margin-left: 30px;
}
.submit-page .planet{
	height: 170px;
	width: 170px;
	border: 4px solid #fff;
	border-radius: 100%;
	display: block;
	margin: 10px auto;
}
.submit-page .vehicleImg{
	height: 170px;
	width: 170px;
	border: 4px solid #fff;
	border-radius: 100%;
	display: block;
	margin: 10px auto;
}
.final-destination{
	text-align: center;
}
.final-vehicle{
	text-align: center;
}
.final-passengers{
	text-align: center;
}
.final-date{
	text-align: center;
}
.people{
	width: 100%;
	text-align: center;
}
#person{
	color: #fff;
	font-size: 50px;
	margin: 5px 1px 0 1px;
}
.left-side{
	margin-top: 20px;
	width: 45%;
	float: left;
}
.right-side{
	margin-top: 20px;
	width: 45%;
	float: right;
}
.submit-page .countdown{
	font-size: 28px;
	padding: 20px 0 0 10px;
	margin: 200px 0 0 0;
	clear: both;
}
#counter{
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	margin: 0 5px 5px 5px;
	text-shadow: 0 0 10px #000;
	padding: 5px;
}
.loader{
	background: url('images/loader.gif')no-repeat center center;
	width: 90%;
	margin: 50px auto;
	height: 30px;
}

@media screen and (max-width: 1300px){
	.main-content{
	float: right;
	width: 800px;
	margin: 140px 50px 0 0;
}
.submit-page{
	margin: 150px 200px 50px 0;
    }
}

@media screen and (max-width: 1150px){

	.main-content{
		float: none;
		margin: 0 auto;
	}
	.main-content .destinations{
		margin-top: 20px;
		border-radius: 50px;
	}

	.submit-page{
	background-color: hsla(0, 100%, 0%, 1);
	margin: 10px auto;
	position: static;
	width: 600px;
	border: 2px solid #fff;
	border-radius: 50px;
	top: 0;
	left: auto;
	display: none;
	float: none;
    }


	.side-border, .side-border2, .side-drop, .nav-bar{
		display: none;
	}
	.side-options{
	margin-top: 0px;
	width: 100%;
	height: auto;
	position: relative;
	background-color: #0a0600;
	border-bottom: 1px solid #fff;
    }
    #terms{
    	width: 200px;
    	display: inline-block;
    }
    #group-one{
    	display: inline-block;
    }
    #destinations, #passengers, #vehicle, #date, #submit{
    	display: inline-block;
    	padding-right: 10px;
    }
    
    .nav-info{
    	padding: 0;
    	position: relative;
    }
    .fixed-content{
    	position: static;
    }


}

@media screen and (max-width: 850px){
	.main-content{
		float: none;
		margin: 0 auto;
		width: 95%;
	}
	.header button{
		display: none;
	}
	.main-content .destinations{
		border-radius: 50px;
	}
	#group-one{
		display: inline-block;
		float: left;
	}
	#destinations, #vehicle, #passengers, #date{
		margin-left: 20px;
		clear: both;
	}
	
	#terms-submit{
		display: inline-block;
		margin-left: 20px;
	}
	.header img{
		width: 90%;
	}


	
}

@media screen and (max-width: 600px){
	
	.header img{
		width: 100%;
	}
	.main-content{
		float: none;
		margin: 0 auto;
		width: 95%;
	}
	.main-content .destinations{
		border-radius: 50px;
	}
	.header button{
		display: none;
	}
	.main-content .destinations{
		padding: 20px 5px 20px 5px;
	}
	.main-content h1{
		font-size: 22px;
		margin-bottom: 20px;
	}
	.main-content h2{
		font-size: 20px;
	}
	.testimony{
		padding: 0px 0px 30px 0px;
	}
	.testimony img{
		height: 120px;
		width: 120px;
	}
	.submit-page{
	background-color: hsla(0, 100%, 0%, 1);
	margin: 10px auto;
	position: static;
	width: 98%;
	border: 2px solid #fff;
	border-radius: 50px;
	top: 0;
	left: auto;
	display: none;
	float: none;
    }
    .submit-page .countdown{
	font-size: 18px;
	padding: 20px 0 0 10px;
	margin: 200px 0 0 0;
	clear: both;
	}
	#counter{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	margin: 0 5px 5px 5px;
	text-shadow: 0 0 10px #000;
	padding: 5px;
	}
	
.submit-page h3{
	color: #fff;
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
	padding: 5px;
}
.submit-page .final-date{
	margin-top: 5px;
}
.submit-page h4{
	text-align: center;
	font-size: 14px;
	color: #79859E;
}
.submit-page .details-below{
	font-size: 16px;
	color: #d3c39b;
	margin-top: 30px;
	margin-bottom: -10px;
	text-align: left;
	margin-left: 30px;
}
.submit-page .planet{
	height: 100px;
	width: 100px;
	border: 4px solid #fff;
	border-radius: 100%;
	display: block;
	margin: 5px auto;
}
.submit-page .vehicleImg{
	height: 100px;
	width: 100px;
	border: 4px solid #fff;
	border-radius: 100%;
	display: block;
	margin: 5px auto;
}
#person{
	color: #fff;
	font-size: 30px;
	margin: 5px 1px 0 1px;
}
}
}

