html, body, h1, h2, h3, h4, li, ul, ol{
	margin: 0;
	padding: 0;
}
body{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	background: url('images/plane.jpg') no-repeat center center fixed;
	background-size: 100% 100%;
}
.fixed-content{
	position: fixed;
	width: 100%;
}
.header h1{
	font-size: 40px;
}
.header{
	background: url('images/lineTexture.jpg') no-repeat center center fixed;
	background-size: 100% 100%;
	padding: 20px;
	color: #fff;
	border-bottom: 2px solid #fff;
}
.header button{
	float: right;
	border-radius: 20px;
	font-size: 25px;
	background-color: #fff;
	padding: 5px;
	box-shadow: 0 0 15px #000;
	text-shadow: 0 0 1px #000;
}
.header .fa-undo{
	color: #fff;
	text-shadow: 0 0 15px #000;
}
.side-drop{
	width: 150px;
	height: 200px;
	background-color: #0a0600;
	border-right: 5px solid #fff;
}
.side-border{
	border-left: 300px solid #0a0600;
	border-top: 300px solid #0a0600;
	border-top-left-radius: 100%;
	height: 410px;
	width: 400px;
	position: absolute;
	left: -150px;
	top: -305px;
}
.side-border2{
	border-left: 300px solid #fff;
	border-top: 300px solid #fff;
	border-top-left-radius: 100%;
	height: 410px;
	width: 400px;
	position: absolute;
	left: -145px;
	top: -305px;
}
.side-options{
	margin-top: 0px;
	width:480px;
	height: 400px;
	position: relative;
	overflow: hidden;
}
.main-content{
	text-align: center;
	float: right;
	width: 800px;
	height: 3000px;
	margin: 120px 200px 0 0;
}
.side-options .fa-line-chart{
	color: #fff;
	font-size: 100px;
}

