
html, body, h1, h2, h3, h4, li, ul, ol{
	margin: 0;
	padding: 0;
}
h2{
	display: none;
}

body{
	background: url('images/background.jpg') no-repeat center center fixed;
	background-size: 100% 100%;

}
nav.navbar {
	z-index: 10;
	padding: 5px 0 0 20px;
	margin:0px 0 50px 0;
	background-color: hsla(209, 100%, 20%, 0.7);
	color: #fff;
	min-height: 150px;
	border-bottom: 2px solid white;
	box-shadow: 0 0 15px 0 #000;
}

.navbar-toggle {
}
.navbar ul {
}
.navbar-default, .dropdown-menu {
    background-color: #000000;
    color:#fff;
  }



nav a{
	color: #fff;
	font-weight: bold;
}

nav h1{
	font-size: 40px;
	text-decoration: underline;
	text-shadow: 2px 2px 20px #000;
	display: none;

}

.footer{
	padding-top: 10px;
	background-color: hsla(209, 100%, 20%, 0.8);
	color: #fff;
	width: 100%;
	height: 70px;
	border-top: 2px solid #fff;
	box-shadow: 0 0 15px #000;
}
nav h2{
	float: left;
	font-size: 25px;
	text-shadow: 2px 2px 20px #000;
	
}
nav .btn-success{
	position: relative;
	top: 7px;
	border: 2px solid #fff;
	border-radius: 0 0 20px 20px;
	display: none;
}
.footer h4{
	font-size: 18px;
	padding: 0px;
	margin: 0;
	border-radius: 7px;
}
.footer h4:hover{
	color: yellow;
	cursor: pointer;
}
.footer .col-sm-3, .footer .col-xs-3 {
	padding-left: 2px;
	padding-right: 2px;
	margin-right: 0;
	margin-left: 0;
}
nav .navbar-toggle{
	border: 1px solid #fff;
}
nav .icon-bar{
	background-color: #fff;
}

.example-sites img{
	margin: 0 auto;
}
.example-sites .content-box{
	padding:10px;
	box-shadow: 0px 0px 15px 0px #000000;
	background-color: hsla(0, 100%, 100%, 0.9);
}
.content-box:hover{
	box-shadow: 0px 0px 5px 0px #000000;
	cursor: pointer;
}
.content-box {
	position: relative;
}
nav .fa-lightbulb-o{
	position: relative;
	left: -14px;
	top: -32px;
	color: #ffffff;
	font-size: 20px;
}
nav .fa-comment{
	position: relative;
	top: -40px;
	color: #fff;
	font-size: 20px;
}
nav .fa-male{
	position: relative;
	font-size: 30px;
	top: 0px;
}
nav .reali-ty{
	position: relative;
	left: -10px;
}
.dropdown-menu a{
	color: #999 !important;
}
@media screen and (max-width: 600px){
	.footer h4{
		font-size: 16px;
	}
}
@media screen and (max-width: 530px){
	nav h2 {
		font-size: 18px;
	}
}
@media screen and (max-width: 450px){
	.footer h4 {
		font-size: 12px;
	}
	nav h1{
		float: none;
	}
}
@media screen and (max-width: 400px){
	nav h1{
		font-size: 30px;
		float: left;
	}
	nav h2{
		opacity: 0;
	}
	nav.navbar{
		min-height: 70px;
	}
}
@media screen and (max-width: 360px){
	nav h1{
		font-size: 25px;
	}
}
@media screen and (max-width: 320px){
	nav h1 {
		font-size: 20px;
	}
}
@media screen and (max-width: 290px){
	nav h1 {
		font-size: 17px;
	}
}





















